<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "angel.model.mapper.order.AscriptionMapper">

    <select id="selectAscriptions" resultType="angel.model.bo.AscriptionBo">
        SELECT id,ascription_name as ascriptionName FROM ascription
    </select>

    <insert id="insertAscription">
        INSERT INTO ascription(ascription_name) VALUES
        <foreach collection="list" index="i" item="ascriptionName" separator=",">
            (#{ascriptionName})
        </foreach>
    </insert>

    <delete id="deleteAscription">
        DELETE FROM ascription WHERE id = #{1}
    </delete>
</mapper>