<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "angel.model.mapper.order.OrderMapper">

    <resultMap id="order" type="angel.model.bo.OrderBo">
        <id column="orderId" property="orderId"/>
        <result column="orderCode" property="orderCode"/>
        <result column="createOrderPerson" property="createOrderPerson"/>
        <collection property="orderStyleBoList" ofType="angel.model.bo.OrderStyleBo">
            <result column="id" property="id"/>
            <result column="workDate" property="workDate"/>
            <result column="styleCode" property="styleCode"/>
            <result column="styleName" property="styleName"/>
            <result column="ascription" property="ascription"/>
            <result column="valuationType" property="valuationType"/>
            <result column="persons" property="persons"/>
            <result column="count" property="count"/>
            <result column="price" property="price"/>
            <result column="increasePrice" property="increasePrice"/>
            <result column="totalPrice" property="totalPrice"/>
            <result column="checkPerson" property="checkPerson"/>
            <result column="check" property="check"/>
            <result column="remark" property="remark"/>
        </collection>
    </resultMap>

    <resultMap id="orderStyle" type="angel.model.bo.OrderStyleBo">
        <id column="id" property="id"/>
        <result column="workDate" property="workDate"/>
        <result column="styleCode" property="styleCode"/>
        <result column="styleName" property="styleName"/>
        <result column="ascription" property="ascription"/>
        <result column="valuationType" property="valuationType"/>
        <result column="persons" property="persons"/>
        <result column="count" property="count"/>
        <result column="price" property="price"/>
        <result column="increasePrice" property="increasePrice"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="checkPerson" property="checkPerson"/>
        <result column="check" property="check"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="selectOrders" resultMap="order">
        SELECT a.order_id as orderId,a.order_code as orderCode,a.create_order_person as createOrderPerson,b.id,
        b.work_date as workDate,b.style_code as styleCode,b.style_name as styleName,b.ascription,b.valuation_type as valuationType,
        b.persons,b.count,b.price,b.increase_price as increasePrice,b.total_price as totalPrice,
        b.check_person as checkPerson,b.check,b.remark
        FROM orders as a
        LEFT JOIN order_style AS b ON a.order_id = b.order_id
        <if test="filter != null and filter !=''">
            AND (a.order_code LIKE concat(concat('%',#{filter}),'%') OR b.style_code LIKE concat(concat('%',#{filter}),'%'))
        </if>
        <choose>
            <when test="checkStatus == 0">
                AND b.check = 0
            </when>
            <when test="checkStatus == 1">
                AND b.check = 1
            </when>
        </choose>
    </select>

    <select id="selectOrdersInOrderIds" parameterType="angel.model.vto.BatchDeleteOrderRequestVto" resultMap="order">
         SELECT a.order_id as orderId,a.order_code as orderCode,a.create_order_person as createOrderPerson,b.id,
        b.work_date as workDate,b.style_code as styleCode,b.style_name as styleName,b.ascription,b.valuation_type as valuationType,
        b.persons,b.count,b.price,b.increase_price as increasePrice,b.total_price as totalPrice,
        b.check_person as checkPerson,b.check,b.remark
        FROM orders as a
        ,order_style AS b
         WHERE a.order_id = b.order_id AND (
         <foreach collection="list" index="i" item="parameter" separator=" or ">
             (b.order_id = #{parameter.orderId} AND b.id = #{parameter.orderStyleId})
         </foreach>
        )
    </select>

    <select id="selectOrderDetail" resultMap="order">
        SELECT a.order_id as orderId,a.order_code as orderCode,a.create_order_person as createOrderPerson,b.id,
        b.work_date as workDate,b.style_code as styleCode,b.style_name as styleName,b.ascription,b.valuation_type as valuationType,
        b.persons,b.count,b.price,b.increase_price as increasePrice,b.total_price as totalPrice,
        b.check_person as checkPerson,b.check,b.remark
        FROM orders as a
        LEFT JOIN order_style AS b ON a.order_id = b.order_id
        WHERE a.order_id = #{0}
    </select>

    <select id="statisticsOrderStyles" resultType="Integer">
        SELECT count(*) FROM order_style WHERE order_id = #{0}
    </select>

    <select id="selectOrderStylesByOrderCode" resultMap="orderStyle">
        SELECT b.order_id as orderId,b.work_date as workDate,b.style_code as styleCode,b.style_name as styleName,
        b.valuation_type as valuationType,b.price,b.count,b.total_price as totalPrice,b.check,b.check_person as checkPerson,
        b.remark FROM orders AS a
        ,order_style AS b
        WHERE a.order_id = b.order_id AND a.order_code = #{id}
    </select>

    <select id="selectOrderStyles" resultMap="orderStyle">
         SELECT order_id as orderId,work_date as workDate,style_code as styleCode,style_name as styleName,
         valuation_type as valuationType,ascription,persons,"count",price,
         increase_price as increasePrice,total_price as totalPrice,"check",check_person as checkPerson,remark
         FROM order_style WHERE style_code = #{id}
    </select>

    <select id="selectOrderStyleDetail" resultMap="orderStyle">
        SELECT order_id as orderId,work_date as workDate,style_code as styleCode,style_name as styleName,
         valuation_type as valuationType,ascription,persons,"count",price,
         increase_price as increasePrice,total_price as totalPrice,"check",check_person as checkPerson,remark
         FROM order_style WHERE id = #{0}
    </select>

    <insert id="insertAscription">
        INSERT INTO ascription(ascriptionName) VALUES 
        <foreach collection="list" index="i" item="ascriptionName" separator=",">
            (#{ascriptionName})
        </foreach>
    </insert>

    <insert id="insertOrder" parameterType="angel.model.bo.OrderBo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO orders(order_id,order_code,create_order_person,created) VALUES (#{orderId},#{orderCode},#{createOrderPerson},#{created})
    </insert>

    <insert id="insertOrderStyle" parameterType="angel.model.bo.OrderStyleBo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_style(order_id,work_date,style_code,style_name,valuation_type,ascription,persons,"count",price,increase_price,total_price,remark) VALUES
            (#{orderId},#{workDate},#{styleCode},#{styleName},
            #{valuationType},#{ascription},#{persons},#{count},#{price},
            #{increasePrice},#{totalPrice},#{remark})
    </insert>

    <update id="updateOrder" parameterType="angel.model.bo.OrderBo">
        UPDATE orders
        <set>
            <if test="orderCode != null">
                order_code = #{orderCode},
            </if>
            <if test="createOrderPerson != null">
                create_order_person = #{createOrderPerson},
            </if>
        </set>
        WHERE order_id = #{orderId}
    </update>

    <update id="updateOrderStyle" parameterType="angel.model.bo.OrderStyleBo">
        UPDATE order_style
        <set>
            <if test="workDate != null">
                work_date = #{workDate},
            </if>
            <if test="styleCode != null">
                style_code = #{styleCode},
            </if>
            <if test="styleName != null">
                style_name = #{styleName},
            </if>
            <if test="valuationType != null">
                valuation_type = #{valuationType},
            </if>
            <if test="ascription != null">
                ascription = #{ascription},
            </if>
            <if test="persons != null">
                persons = #{persons},
            </if>
            <if test="count != null">
                "count" = #{count},
            </if>
            <if test="price != null">
                "price" = #{price},
            </if>
            <if test="increasePrice != null">
                increase_price = #{increasePrice},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        WHERE order_id = #{orderId} AND id = #{id}
    </update>

    <update id="checkOrderStyle">
        UPDATE order_style
        <set>
            "check" = 1,
            check_person = #{checkPerson}
        </set>
        WHERE id IN
        <foreach collection="orderStyleIds" index="i" item="orderStyleId" separator="," open="(" close=")">
            #{orderStyleId}
        </foreach>
    </update>

    <delete id="deleteOrderStyle">
        DELETE FROM order_style WHERE order_id = #{0} AND id = #{1}
    </delete>

    <delete id="deleteOrder">
        DELETE FROM orders WHERE order_id = #{0}
    </delete>

    <delete id="batchDeleteOrderStyleByOrderList" parameterType="angel.model.vto.BatchDeleteOrderRequestVto">
        DELETE FROM order_style WHERE
        <foreach collection="list" index="i" item="parameter" separator=" or ">
            (order_id = #{parameter.orderId} AND id = #{parameter.orderStyleId})
        </foreach>
    </delete>

    <delete id="batchDeleteOrderStyle">
        DELETE FROM order_style WHERE order_id = #{orderId} AND id IN (
        <foreach collection="list" index="i" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
</mapper>