<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "angel.model.mapper.order.StyleMapper">

    <resultMap id="style" type="angel.model.bo.StyleBo">
        <id column="styleId" property="styleId"/>
        <result column="styleCode" property="styleCode"/>
        <result column="styleName" property="styleName"/>

        <collection property="valuationBos" ofType="angel.model.bo.ValuationBo">
            <id column="id" property="id"/>
            <result column="valuationId" property="valuationId"/>
            <result column="valuationType" property="valuationType"/>
            <result column="price" property="price"/>
            <result column="increasePrice" property="increasePrice"/>
            <result column="valuationStyleId" property="styleId"/>
        </collection>

    </resultMap>

    <select id="selectStyleOne" resultType="angel.model.vto.StyleVto">
        SELECT a.style_id as styleId
        ,a.style_name as styleName
        ,b.valuation_id as valuationId
        ,b.valuation_type as valuationType
        ,b.price
        ,b.increase_price as increasePrice
        FROM style as a
        ,valuation as b
        WHERE a.style_id = b.style_id AND b.style_id = #{0} AND b.valuation_id = #{1}
    </select>

    <select id="selectStyleDetail" resultMap="style">
        SELECT a.style_id as styleId,a.style_code as styleCode,a.style_name as styleName
        ,b.id,b.valuation_id as valuationId,b.valuation_type as valuationType,b.price,b.increase_price as increasePrice,b.style_id as valuationStyleId
        FROM style as a
        LEFT JOIN valuation as b ON a.style_id = b.style_id
        WHERE a.style_id = #{0}
    </select>

    <select id="selectStyles" resultType="angel.model.bo.StyleBo">
        SELECT id,style_id as styleId,style_name as styleName,style_code as styleCode from style
    </select>

    <insert id="insertStyle" parameterType="angel.model.bo.StyleBo">
        INSERT INTO style(style_id,style_code,style_name) VALUES (#{styleId},#{styleCode},#{styleName})
    </insert>

    <update id="updateStyle" parameterType="angel.model.bo.StyleBo">
        UPDATE style
        <set>
            <if test="styleCode != null">
                style_code = #{styleCode},
            </if>
            <if test="styleName != null">
                style_name = #{styleName},
            </if>
        </set>
        WHERE style_id = #{styleId};
    </update>

    <delete id="deleteStyle">
        DELETE FROM  style WHERE style_id = #{0}
    </delete>
</mapper>