<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "angel.model.mapper.order.ValuationMapper">

    <select id="selectValuations" resultType="angel.model.bo.ValuationBo">
        SELECT id,valuation_id as valuationId,valuation_type as valuationType,price,increase_price as increasePrice,style_id as styleId
        FROM valuation
        WHERE style_id = #{0}
    </select>

    <select id="selectValuationDetail" resultType="angel.model.bo.ValuationBo">
        SELECT id,valuation_id as valuationId,valuation_type as valuationType,price,increase_price as increasePrice,style_id as styleId FROM valuation WHERE valuation_id = #{0}
    </select>

    <insert id="insertValuation" parameterType="angel.model.bo.ValuationBo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO valuation(valuation_id,valuation_type,price,increase_price,style_id) VALUES
            (#{valuationId},#{valuationType},#{price},
            #{increasePrice},#{styleId})
    </insert>

    <insert id="insertValuations">
        INSERT INTO valuation(valuation_id,valuation_type,price,increase_price,style_id) VALUES
        <foreach collection="list" index="i" item="valuation" separator=",">
            (#{valuation.valuationId},#{valuation.valuationType},#{valuation.price},
            #{valuation.increasePrice},#{valuation.styleId})
        </foreach>
    </insert>

    <update id="updateValuation" parameterType="angel.model.bo.ValuationBo">
        UPDATE valuation
        <set>
            <if test="valuationType != null">
                valuation_type = #{valuationType},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="increasePrice != null">
                increase_price = #{increasePrice},
            </if>
        </set>
        WHERE valuation_id = #{valuationId}
    </update>

    <delete id="deleteValuation">
        DELETE FROM valuation WHERE valuation_id = #{0}
    </delete>

    <delete id="deleteValuationByStyleId">
        DELETE FROM valuation WHERE style_id = #{0}
    </delete>
</mapper>